/* 
    Document   : pawon
    Created on : Mar 14, 2013, 9:43:21 AM
    Author     : kris
    Description:
        Purpose of the stylesheet follows.
*/

.ui-btn-nexttoleft{
    position : absolute;
    right  : 90px;
    top : .2em;

}

.ui-title{
    font-size : 18px;
    margin    : 1em 1em 1em 40px !important;
} 


.ui-header .ui-btn-inner {
    font-size: 14px;    
}

.ui-btn-inner img {
    width: 22px;
    text-align: center; margin: 0 auto;
}

.ui-icon-custom-basket {
    background-image: url("../img/basket.png");
    position: relative;
}




